.experiencia-prof {
    width: 90%;
    height: 80vh;
    margin: auto;
    padding: 5rem;
}

.card-experiencia {
    margin:1rem;
    padding: 2rem;
    border-bottom: 1px solid rgba(196, 196, 196, 0.15);
    h3,p {
        padding: 1rem;
    }
}
